<h1>Chapter1#activity1</h1>
<ul>
  <li>&lt;%= 1+2 %&gt; => <%= 1+2 %></li>
  <li>&lt;%= "cow" + "boy" %&gt; => <%= "cow" + "boy" %></li>
  <li>&lt;%= 1.hour.from_now %&gt; => <%= 1.hour.since(@time) %></li>
</ul>
